## List
Lists are used to store multiple items in a single variable.

List items are ordered, changeable, and allow duplicate values.

In [1]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [2]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

### Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [3]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

### Append Items
To add an item to the end of the list, use the append() method:

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

### Extend List
To append elements from another list to the current list, use the extend() method.

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [5]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### Remove Specified Item
The remove() method removes the specified item.

If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [6]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

### Remove Specified Index
The pop() method removes the specified index.

If you do not specify the index, the pop() method removes the last item.

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

The del keyword also removes the specified index:

The del keyword can also delete the list completely.

In [9]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

### Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

### List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

### The Syntax 

newlist = [expression for item in iterable if condition == True]

In [11]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

### Sort List Alphanumerically

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

Sort Descending
To sort descending, use the keyword argument reverse = True:

In [13]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [14]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

### Case Insensitive Sort
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

### Customize Sort Function
You can also customize your own function by using the keyword argument key = function.

In [16]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

### Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [18]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

### Use the copy() method
You can use the built-in List method copy() to copy a list.

In [19]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

### Use the list() method
Another way to make a copy is to use the built-in method list().

In [20]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

### Use the slice Operator
You can also make a copy of a list by using the : (slice) operator.

### Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

Another way to join two lists is by appending all the items from list2 into list1, one by one:

Or you can use the extend() method, where the purpose is to add elements from one list to another list:

In [22]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]